name: Build

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 20.x
          cache: 'npm'

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build

