name: Release

on:
  push:
    branches: [ main ]

jobs:
  release:
    runs-on: ubuntu-latest

    # Only release on push to main on tyrielv/fvtt-pf2e-incapacitation-variants
    if: (github.ref == 'refs/heads/main') && github.repository == 'tyrielv/fvtt-pf2e-incapacitation-variants'

    # Waits for test jobs for each Node.js version to complete
    #        needs: [ test ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v5.0.0
        with:
          node-version: 20.x
          cache: 'npm'

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release

      - name: Get tag
        run: echo "MODULE_VERSION=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV

      # Publish the release to FoundryVTT's package repository only if push on main
#      - name: Publish to Foundry Admin
#        if: github.event_name == 'push' && (github.ref == 'refs/heads/main') && github.repository == 'tyrielv/fvtt-pf2e-incapacitation-variants'
#        uses: Varriount/fvtt-autopublish@v1.0.9
#        with:
#          username: ${{ secrets.FOUNDRY_ADMIN_USERNAME }}
#          password: ${{ secrets.FOUNDRY_ADMIN_PASSWORD }}
#          module-id: 1702
#          manifest-url: https://github.com/tyrielv/fvtt-pf2e-incapacitation-variants/releases/download/${{ env.MODULE_VERSION }}/module.json
#          manifest-file: module.json
#
#      - name: Publish to Foundry VTT Repo
        #id: publish_foundry_repo
        #if: github.event_name == 'push' && (github.ref == 'refs/heads/main') && github.repository == 'tyrielv/fvtt-pf2e-incapacitation-variants'
        #run: npx @ghost-fvtt/foundry-publish
        #env:
          #FVTT_MANIFEST_PATH: 'module.json'
          #FVTT_PACKAGE_ID: ${{ 1702 }}
          #FVTT_USERNAME: ${{ secrets.FOUNDRY_ADMIN_USERNAME }}
          #FVTT_PASSWORD: ${{ secrets.FOUNDRY_ADMIN_PASSWORD }}
